.noteContainer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.cardContainer{
    width: 40%;
}
.subCardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputBase{
    width: 100%;
}
.displayCardContainer{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 4%;
    width: 52% !important;
}