.profileContainer{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 1%;
}
.profielCardContainer{
    display: flex; 
    flex-Direction: 'row';
    align-items: center;
}
.cardActions{
    display: flex;
    justify-content: flex-end;
}
.profileIcon{
    font-size: 30;
    display: flex;
    align-items: center;
}
.profileIconContainer{
    align-items: center;
}
.profileButton{
    display: flex;
    align-items: center;
}
@media (max-Width: 360px){
    .profileButton{
        padding: 0px !important;
    }
    .profileIconContainer{
        display: flex;
        align-items: center;
    }
}