.listItemContainer{
    display: flex;
    align-items: center;
}
.listItemCloseIcon{
    cursor: pointer;
}
.checkItemsContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.itemsCheckBox{
    padding: 3% !important;
    margin-left: 15% !important;
}