.grow{
    flex-grow: 1;
}
.menuButton{
    margin-left: 1%;
}
.toolbarContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    width: 500px;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left: 30px;
}
.searchIcon{
    padding: 1%;
    align-items: center;
    color: lightgray;
}
.profile{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.toolbar{
    display: flex;
    justify-content: space-between;
}
.searchInput{
    width: 400px !important;
    padding: 1%;
}
.appBarMenuAndTitile{
    display: flex;
    align-items: center;
}

@media (max-Width: 360px){
    .searchInput{
        width: 90px !important;
    }
    .search{
        width: fit-content;
    }
}