.grow{
    flex-grow: 1;
}
.menuButton{
    margin-left: 1%;
}
.toolbarContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    overflow: unset !important;
}
.search{
    display: flex;
    align-items: center;
    width: 600px;
    height: 45px;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left: 30px;
}
.searchIcon{
    padding: 1%;
    align-items: center;
    color: lightgray;
}
.profile{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.toolbar{
    display: flex;
    justify-content: space-between;
}
.searchInput{
    width: 600px !important;
    padding: 1%;
}
.appBarMenuAndTitile{
    display: flex;
    align-items: center;
}
.refreshIcon{
    cursor: pointer;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

@media (max-Width: 360px){
    .searchInput{
        width: 90px !important;
    }
    .search{
        width: fit-content;
    }
    .searchIcon{
        padding: 0%;
        font-size: 10 !important;
    }
    .refreshIcon{
        margin-left: 0;
    }
    .title{
        overflow: hidden !important;
    }
}