.grow{
    flex-grow: 1;
}
.appBar{
    top: 0;
}
.menuButton{
    margin-left: 1%;
}
.toolbarContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    overflow: unset !important;
}
.listAndGridViewContainer{
    display: flex;
    align-items: center;
    margin-left: 2%;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    width: 600px;
    height: 45px;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left: 30px;
}
.searchIcon{
    padding: 1%;
    align-items: center;
    color: lightgray;
}
.profile{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.toolbar{
    display: flex;
    justify-content: space-between;
}
.searchInput{
    width: 600px !important;
    padding: 1%;
}
.appBarMenuAndTitile{
    display: flex;
    align-items: center;
}
.refreshIcon{
    cursor: pointer;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.mobiSearchIcon{
    display: flex;
    align-items: center;
}
.mobiSearchInput{
    width: 180px;
    padding: 1%;
    margin-left: 2%;
}
.mobiSearch{
    display: flex;
    align-items: center;
    width: 200px;
    height: 45px;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.clearIcon{
    font-size: 1rem;
    position: absolute;
    color: black;
    display: flex;
    right: 0;
}

@media (max-Width: 360px){
    .searchInput{
        width: 60px !important;
    }
    .search{
        width: fit-content;
        margin-left: 10px;
    }
    .searchIcon{
        padding: 0% !important;
        font-size: 0 !important;
    }
    .refreshIcon{
        margin-left: 5%;
    }
    .title{
        overflow: hidden !important;
        width: 120px;
    }
    .listAndGridViewContainer{
        margin-left: 5%;
    }
    .profile{
        align-items: center;
    }
}