.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.formDivLogin{
    width: 400px;
    height: 400px;
    margin: auto;
    box-shadow:  0px 14px 80px rgba(34, 35, 58, 0.2);
}
.inputDiv1{
    display: flex;
    flex-direction: column;
    margin: 10%;
}
.fundooTitle{
    display: flex;
    font-size: x-large;
    margin-top: 5%;
    justify-content: center;
}
.signInTitle{
    display: flex;
    font-size: large;
    margin-top: 5%;
    justify-content: center;
}
.emailContainer{
    margin-bottom: 5%;
}
.emailInput{
    width: 100%;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.button{
    width: 60px;
    height: 30px;
}
.inputError{
    font-size: 12px;
    color: red;
}
.loginAnchor{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    flex-direction: column;
}
.showHide{
    position: absolute;
    align-self: center;
    margin-left: 22%;
    cursor: pointer;
}
.passwordInput{
    display: flex;
    flex-direction: column;
}