.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.formDiv1{
    width: 400px;
    height: 350px;
    margin: auto;
    box-shadow:  0px 14px 80px rgba(34, 35, 58, 0.2);
}
.emailInputDiv{
    display: flex;
    margin: 10%;
    flex-direction: column;
    justify-content: space-between;
}
.fundooTitle{
    display: flex;
    font-size: x-large;
    margin-top: 5%;
    justify-content: center;
}
.signInTitle{
    display: flex;
    font-size: large;
    margin-top: 5%;
    justify-content: center;
}
.buttonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.resetAnchor{
    width: 10%;
    display: flex;
    margin-left: 10%;
    height: 50px;
    margin-top: 5%;
}