.noteContainer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.cardContainer{
    width: 50%;
    height: 46px !important;
    box-shadow: 1px 1px 6px #A9A9A9 !important;
    border-radius: 10px !important;
}
.subCardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2% !important;
    color: #808080;
}
.imageCheckBoxContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}
.noteTitle{
    font-size: .875rem !important;
    font-weight: 550 !important;
    font-family: Arial, sans-serif !important;
    letter-spacing: .01428571em !important;
}
.inputBase{
    width: 100%;
}
.displayCardContainer{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 4%;
    width: 52% !important;
}
.progressBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.pinText{
    font-size: 1rem;
    margin-bottom: 1%;
}
.otherText{
    font-size: 1rem;
    margin-bottom: 1%;
    margin-top: 2%;
}

@media (max-Width: 360px){
    .cardContainer{
        width: 56%;
    }
    .subCardContainer{
        padding: 5% 10% !important;
        align-items: center;
        justify-content: space-between;
    }
}