.paper{
    width: 240px;
    height: 280px;
    padding: 20px !important;
    box-shadow: 30px 40px #888888 !important;
    cursor: pointer;
}
.paper:hover{
    box-shadow: 30px 40px #f5a453 !important;
}
.mainHomeContainer{
    width: 650px !important;
}
.gridHomeContainer{
    height: 100vh;
}
.subGridContainer{
    display: flex !important;
    justify-content: space-between !important;
}
.headerText{
    font-size: x-large;
    padding: 0 !important;
}
.serviceText{
    padding: 0 !important;
    color: blue;
}
.bulletPoint{
    margin-top: 5%;
    margin-right: 10%;
    font-weight: bold;
    font-size: larger;
}
.bulletPointdiv{
    display: flex;
    flex-direction: row;
}
.priceTag{
    margin-top: 5%;
    font-size: larger;
}
.offerText{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    display: flex !important;
    align-items: center !important;
}
.cartText{
    margin-top: 2% !important;
    margin-left: 25% !important;
}
.linkText{
    margin-top: 10% !important;
    margin-left: 45% !important;
}