.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inputBase{
    width: 100% !important;
}
.cardContainer2{
    width: 50%;
    flex-direction: column;
    border-radius: 8px !important;
    box-shadow: 1px 1px 6px #A9A9A9 !important;

}
.subCardContainer2{
    padding: 10px 15px !important;
    display: flex;
    flex-direction: row;
}
.discription{
    padding: 12px 16px !important;
}
.iconStyle{
    margin-left: 4%;
    margin-right: 4%;
    cursor: pointer;
}
.actionStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}