.createMainContainer{
    padding: 2%;
}
.createCardContent{
    padding: 10%;
    padding-bottom: 0%;
    
}
.createContentStyle{
    padding: 0px !important;
    margin-bottom: 5%;
}
.createCardHeaderContend{
    padding: 0px !important;
    margin-bottom: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.createCardContainer{
    box-shadow: 1px 1px 6px #A9A9A9 !important;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}
.displayCardContainerwithOption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 200px;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalPaper{
    border: 0% !important;
    width: 100% !important;
}

@media (max-Width: 360px){
    .displayCardContainerwithOption{
        height: 220px;
        width: 290px;
    }
}